<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ this.isAddMode ? 'Add' : 'Edit' }} Logbook Entry
                </h2>
            </div>
        </div>

    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">
            <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
                <div class="gt-xs:max-w-80 gt-xs:pr-12">
                    <p class="text-lg font-medium">Primary Information</p>
                    <p class="text-secondary mb-6">
                        Required items for this flight
                    </p>
                </div>
                <div class="flex-auto min-w-64">
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Date of Flight</mat-label>
                            <input
                                matInput
                                [matDatepicker]="flightDate"
                                [placeholder]="'Choose a date'"
                                [formControlName]="'flightDate'">
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="flightDate"></mat-datepicker-toggle>
                            <mat-datepicker #flightDate></mat-datepicker>
                            <mat-error *ngIf="form.get('flightDate').hasError('required')">
                                Please select a flight date
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Aircraft</mat-label>
                            <mat-select
                                #manufacturerSelect
                                [formControlName]="'idAircraft'">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let air of aircraft" [value]="air.id">
                                    {{air.tailNumber}} - {{air.model?.manufacturer?.manufacturerName}} {{air.model?.modelName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('idAircraft').hasError('required')">
                                Please select an aircraft
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Route of Flight</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:map'"></mat-icon>
                            <mat-chip-list
                                #chipList
                                [formControlName]="'route'">
                                <mat-chip
                                    *ngFor="let airport of airports"
                                    (removed)="remove(airport)">
                                    {{airport}}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip>
                                <input
                                    type="text"
                                    placeholder="Enter ICAO Code..."
                                    maxlength="4"
                                    #airportInput
                                    [formControl]="routeInput"
                                    [matAutocomplete]="autocomplete"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let airport of servicedAirports" [value]="airport.airportCode">
                                    {{airport.airportCode}} - {{airport.facilityName}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="form.get('route').hasError('required')">
                                Please enter the route flown
                            </mat-error>
                            <mat-error *ngIf="form.get('route').hasError('maxLength')">
                                Route flown must be less than 60 characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Total Time</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter an hour value'"
                                [formControlName]="'totalFlightTime'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('totalFlightTime').hasError('min')">
                                Total flight duration must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('totalFlightTime').hasError('max')">
                                Total flight duration must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <mat-divider class="mt-4 mb-12"></mat-divider>

            <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
                <div class="gt-xs:max-w-80 gt-xs:pr-12">
                    <p class="text-lg font-medium">Additional Information</p>
                    <p class="text-secondary mb-6">
                        Optional items to better record this flight
                    </p>
                </div>
                <div class="flex-auto min-w-64">
                    <div class="flex" *ngIf="this.appConfig.logbookOptions.showComments">
                        <mat-form-field class="fuse-mat-textarea flex-auto">
                            <mat-label>Comments</mat-label>
                            <textarea
                                matInput
                                [placeholder]="'Any notes or details pertinent to this flight'"
                                [rows]="3"
                                maxlength="200"
                                [formControlName]="'comments'"></textarea>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                            <mat-error *ngIf="form.get('comments').hasError('maxLength')">
                                Comments must be less than 500 characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 min-w-64 justify-between">
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showApproaches">
                        <mat-form-field class="flex-auto">
                            <mat-label>Number of Instrument Approaches</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the number of approaches'"
                                [formControlName]="'numInstrumentApproaches'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('numInstrumentApproaches').hasError('min')">
                                Number of instrument approaches must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('numInstrumentApproaches').hasError('max')">
                                Number of instrument approaches must be less than 1000000
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showLandings">
                        <mat-form-field class="flex-auto">
                            <mat-label>Number of Landings</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the number of landings'"
                                [formControlName]="'numLandings'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('numLandings').hasError('min')">
                                Number of landings must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('numLandings').hasError('max')">
                                Number of landings must be less than 1000000
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showNightLandings">
                        <mat-form-field class="flex-auto">
                            <mat-label>Number of Night Landings</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the number of night landings'"
                                [formControlName]="'numNightLandings'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('numNightLandings').hasError('min')">
                                Number of night landings must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('numNightLandings').hasError('max')">
                                Number of night landings must be less than 1000000
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showFullStopLandings">
                        <mat-form-field class="flex-auto">
                            <mat-label>Number of Full-Stop Landings</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the number of full stop landings'"
                                [formControlName]="'numFullStopLandings'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('numFullStopLandings').hasError('min')">
                                Number of full-stop landings must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('numFullStopLandings').hasError('max')">
                                Number of full-stop landings must be less than 1000000
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showCrossCountry">
                        <mat-form-field class="flex-auto">
                            <mat-label>Cross Country</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the cross country duration'"
                                [formControlName]="'crossCountry'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('crossCountry').hasError('min')">
                                Cross country duration must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('crossCountry').hasError('max')">
                                Cross country duration must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showMultiEngine">
                        <mat-form-field class="flex-auto">
                            <mat-label>Multi Engine</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the multi engine duration'"
                                [formControlName]="'multiEngine'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('multiEngine').hasError('min')">
                                Multi engine duration must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('multiEngine').hasError('max')">
                                Multi engine duration must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showTurbine">
                        <mat-form-field class="flex-auto">
                            <mat-label>Turbine</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the turbine duration'"
                                [formControlName]="'turbine'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('turbine').hasError('min')">
                                Turbine duration must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('turbine').hasError('max')">
                                Turbine duration must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showNight">
                        <mat-form-field class="flex-auto">
                            <mat-label>Night</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the night duration'"
                                [formControlName]="'night'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('night').hasError('min')">
                                Night duration must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('night').hasError('max')">
                                Night duration must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showIMC">
                        <mat-form-field class="flex-auto">
                            <mat-label>Actual IMC</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the duration under actual IMC'"
                                [formControlName]="'imc'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('imc').hasError('min')">
                                Actual IMC duration must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('imc').hasError('max')">
                                Actual IMC duration must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showSimulatedInstrument">
                        <mat-form-field class="flex-auto">
                            <mat-label>Simulated IMC</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the duration under simulated IMC'"
                                [formControlName]="'simulatedInstrument'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('simulatedInstrument').hasError('min')">
                                Simulated IMC duration must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('simulatedInstrument').hasError('max')">
                                Simulated IMC duration must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showDualReceived">
                        <mat-form-field class="flex-auto">
                            <mat-label>Dual Received</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the received dual instruction duration'"
                                [formControlName]="'dualReceived'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('dualReceived').hasError('min')">
                                Received dual instruction duration must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('dualReceived').hasError('max')">
                                Received dual instruction duration must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showDualGiven">
                        <mat-form-field class="flex-auto">
                            <mat-label>Dual Given</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the given dual instruction duration'"
                                [formControlName]="'dualGiven'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('dualGiven').hasError('min')">
                                Given dual instruction duration must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('dualGiven').hasError('max')">
                                Given dual instruction duration must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showPIC">
                        <mat-form-field class="flex-auto">
                            <mat-label>PIC</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the duration as PIC'"
                                [formControlName]="'pic'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('pic').hasError('min')">
                                PIC duration must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('pic').hasError('max')">
                                PIC duration must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showSIC">
                        <mat-form-field class="flex-auto">
                            <mat-label>SIC</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the duration as SIC'"
                                [formControlName]="'sic'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('sic').hasError('min')">
                                SIC duration must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('sic').hasError('max')">
                                SIC duration must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2" *ngIf="this.appConfig.logbookOptions.showGroundSim">
                        <mat-form-field class="flex-auto">
                            <mat-label>Ground Simulator</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the ground simulator duration'"
                                [formControlName]="'groundSim'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('groundSim').hasError('min')">
                                Ground simulator duration must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('groundSim').hasError('max')">
                                Ground simulator duration must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2">
                        <mat-form-field class="flex-auto">
                            <mat-label>Hobbs Start</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the start time of the Hobbs meter'"
                                [formControlName]="'hobbsStart'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('hobbsStart').hasError('min')">
                                Hobbs start time must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('hobbsStart').hasError('max')">
                                Hobbs start time must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex mx-2">
                        <mat-form-field class="flex-auto">
                            <mat-label>Hobbs End</mat-label>
                            <input
                                type="number"
                                matInput
                                [placeholder]="'Enter the end time of the Hobbs meter'"
                                [formControlName]="'hobbsEnd'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <mat-error *ngIf="form.get('hobbsEnd').hasError('min')">
                                Hobbs end time must be non-negative
                            </mat-error>
                            <mat-error *ngIf="form.get('hobbsEnd').hasError('max')">
                                Hobbs end time must be less than 1000 hours
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>
            </div>

            <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                <button
                    [routerLink]="['/logbook/view']"
                    mat-stroked-button
                    type="button">
                    Cancel
                </button>
                <button
                    class="px-6 ml-3"
                    mat-flat-button
                    [color]="'primary'">
                    Save
                </button>
            </div>
        </form>
    </div>

</div>
