<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">{{t('welcome-back')}}, {{user.firstName}}!</div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                <!-- Totals -->
                <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Total Logged Hours</div>
                    <div class="flex flex-col">
                        <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                            <div class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-indigo-50 text-indigo-800 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400">
                                <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                    {{analytics.summedTotals.totalTimeSum | number: '1.2-2'}}
                                </div>
                                <div class="mt-1 text-sm sm:text-lg font-medium">Total Time</div>
                            </div>
                            <div class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-green-50 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                                <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                    {{analytics.summedTotals.picSum | number: '1.2-2'}}
                                </div>
                                <div class="mt-1 text-sm sm:text-lg font-medium">Pilot in Command</div>
                            </div>
                            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                    {{analytics.summedTotals.multiSum | number: '1.2-2'}}
                                </div>
                                <div class="mt-1 text-sm sm:text-lg font-medium">Multi Engine</div>
                            </div>
                            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                    {{analytics.summedTotals.turbineSum | number: '1.2-2'}}
                                </div>
                                <div class="mt-1 text-sm sm:text-lg font-medium">Turbine</div>
                            </div>
                            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                    {{analytics.summedTotals.instrumentSum | number: '1.2-2'}}
                                </div>
                                <div class="mt-1 text-sm sm:text-lg font-medium">Instrument</div>
                            </div>
                            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                    {{analytics.summedTotals.crossCountrySum | number: '1.2-2'}}
                                </div>
                                <div class="mt-1 text-sm sm:text-lg font-medium">Cross Country</div>
                            </div>
                            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                    {{analytics.summedTotals.sicSum | number: '1.2-2'}}
                                </div>
                                <div class="mt-1 text-sm sm:text-lg font-medium">Second in Command</div>
                            </div>
                            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                    {{analytics.summedTotals.dualGivenSum | number: '1.2-2'}}
                                </div>
                                <div class="mt-1 text-sm sm:text-lg font-medium">Dual Given</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Breakdown -->
                <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Hours Breakdown</div>
                    <div class="mt-6 sm:mt-4 sm:ml-2">
                        <mat-button-toggle-group
                            value="total-time"
                            class="grid grid-cols-5 lg:grid-cols-6 grid-flow-row"
                            #timeTypeSelector="matButtonToggleGroup">
                            <mat-button-toggle value="total-time">Total Time</mat-button-toggle>
                            <mat-button-toggle value="pic">PIC</mat-button-toggle>
                            <mat-button-toggle value="imc">Instrument</mat-button-toggle>
                            <mat-button-toggle value="multi">Multi</mat-button-toggle>
                            <mat-button-toggle value="turbine">Turbine</mat-button-toggle>
                            <mat-button-toggle value="sic">SIC</mat-button-toggle>
                            <mat-button-toggle value="cross-country">Cross Country</mat-button-toggle>
                            <mat-button-toggle value="night">Night</mat-button-toggle>
                            <mat-button-toggle value="dual-given">Dual Given</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-6 sm:mt-4">
                        <!-- Totals per month -->
                        <div class="flex flex-col flex-auto">
                            <div class="font-medium text-secondary">Per Month</div>
                            <div class="flex flex-col flex-auto">
                                <apx-chart
                                    class="flex-auto w-full h-80"
                                    [chart]="chartTotalsByMonth.chart"
                                    [colors]="chartTotalsByMonth.colors"
                                    [dataLabels]="chartTotalsByMonth.dataLabels"
                                    [grid]="chartTotalsByMonth.grid"
                                    [labels]="chartTotalsByMonth.labels"
                                    [legend]="chartTotalsByMonth.legend"
                                    [plotOptions]="chartTotalsByMonth.plotOptions"
                                    [series]="chartTotalsByMonth.series[timeTypeSelector.value]"
                                    [states]="chartTotalsByMonth.states"
                                    [stroke]="chartTotalsByMonth.stroke"
                                    [tooltip]="chartTotalsByMonth.tooltip"
                                    [xaxis]="chartTotalsByMonth.xaxis"
                                    [yaxis]="chartTotalsByMonth.yaxis"></apx-chart>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Landings and Approaches Summary -->
                <div class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Landings and Approaches Summary</div>
                    <div class="flex flex-col flex-auto mt-4">
                        <div class="font-medium text-secondary">In the Past 90 Days</div>

                        <div class="flex-auto grid grid-cols-3 gap-4 mt-2">
                            <div class="flex flex-col items-center m-4">
                                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">{{analytics.landingsPast90Days.dayLandings}}</div>
                                <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Day Landings</div>
                            </div>
                            <div class="flex flex-col items-center m-4">
                                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">{{analytics.landingsPast90Days.nightLandings}}</div>
                                <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Night Landings</div>
                            </div>
                            <div class="flex flex-col items-center m-4">
                                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">{{analytics.landingsPast90Days.approaches}}</div>
                                <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Approaches</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Totals by type -->
                <div class="sm:col-span-1 md:col-span-2 lg:col-span-1 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Per Type</div>
                    </div>
                    <div class="flex flex-col flex-auto mt-6">
                        <apx-chart
                            class="flex-auto w-full h-80"
                            [chart]="chartTotalsByType.chart"
                            [labels]="chartTotalsByType.labels"
                            [legend]="chartTotalsByType.legend"
                            [plotOptions]="chartTotalsByType.plotOptions"
                            [series]="chartTotalsByType.series[timeTypeSelector.value]"
                            [states]="chartTotalsByType.states"
                            [stroke]="chartTotalsByType.stroke"
                            [theme]="chartTotalsByType.theme"
                            [tooltip]="chartTotalsByType.tooltip"
                            [yaxis]="chartTotalsByType.yaxis"></apx-chart>
                    </div>
                </div>
                <!-- Totals by category class -->
                <div class="sm:col-span-1 md:col-span-2 lg:col-span-1 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Per Category/Class</div>
                    </div>
                    <div class="flex flex-col flex-auto mt-6">
                        <apx-chart
                            class="flex-auto w-full h-80"
                            [chart]="chartTotalsByCatClass.chart"
                            [labels]="chartTotalsByCatClass.labels"
                            [legend]="chartTotalsByCatClass.legend"
                            [plotOptions]="chartTotalsByCatClass.plotOptions"
                            [series]="chartTotalsByCatClass.series[timeTypeSelector.value]"
                            [states]="chartTotalsByCatClass.states"
                            [stroke]="chartTotalsByCatClass.stroke"
                            [theme]="chartTotalsByCatClass.theme"
                            [tooltip]="chartTotalsByCatClass.tooltip"
                            [yaxis]="chartTotalsByCatClass.yaxis"></apx-chart>
                    </div>
                </div>
                <!-- Totals by instance -->
                <div class="sm:col-span-1 md:col-span-2 lg:col-span-1 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Real vs. Simulated Hours</div>
                    </div>
                    <div class="flex flex-col flex-auto mt-6">
                        <apx-chart
                            class="flex-auto w-full h-80"
                            [chart]="chartTotalsByInstance.chart"
                            [labels]="chartTotalsByInstance.labels"
                            [legend]="chartTotalsByInstance.legend"
                            [plotOptions]="chartTotalsByInstance.plotOptions"
                            [series]="chartTotalsByInstance.series[timeTypeSelector.value]"
                            [states]="chartTotalsByInstance.states"
                            [stroke]="chartTotalsByInstance.stroke"
                            [theme]="chartTotalsByInstance.theme"
                            [tooltip]="chartTotalsByInstance.tooltip"
                            [yaxis]="chartTotalsByInstance.yaxis"></apx-chart>
                    </div>
                </div>
            </div>


            <!-- <mat-tab-group
                class="sm:px-2"
                [animationDuration]="'0'">

                <mat-tab label="Home">
                    <ng-template matTabContent>
                    </ng-template>
                </mat-tab>

            </mat-tab-group> -->
        </div>
    </div>

</div>
