<div class="w-full max-w-3xl">

    <!-- Form -->
    <form
        [formGroup]="form"
        (submit)="onSubmit()">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Change password</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Current password -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Current password</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'oldPassword'"
                        type="password"
                        matInput>
                    <mat-error *ngIf="form.get('oldPassword').hasError('required')">
                        Please enter your current password
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- New password -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>New password</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'newPassword'"
                        type="password"
                        matInput>
                    <mat-error *ngIf="form.get('newPassword').hasError('required')">
                        Please enter your new password
                    </mat-error>
                    <mat-error *ngIf="form.get('newPassword').hasError('pattern')">
                        New password must meet the requirements
                    </mat-error>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">Minimum 8 characters. Must include at least one number, letter and special character.</div>
            </div>
            <!-- Confirm password -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Confirm password</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'repeatPassword'"
                        type="password"
                        matInput>
                    <mat-error *ngIf="form.get('repeatPassword').hasError('required')">
                        Please confirm your new password
                    </mat-error>
                    <mat-error *ngIf="form.get('repeatPassword').hasError('pattern')">
                        New password must meet the requirements
                    </mat-error>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">Minimum 8 characters. Must include at least one number, letter and special character.</div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                [routerLink]="['/']"
                type="button">
                Cancel
            </button>
            <button
                class="ml-4"
                mat-flat-button
                type="submit"
                [color]="'primary'">Save
            </button>
        </div>
    </form>

</div>
