<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full">

        <!-- Drawer -->
        <mat-drawer
            class="w-72 dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            [position]="'end'"
            #matDrawer>
            <!-- Demo sidebar -->
            <logbook-sidebar></logbook-sidebar>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col overflow-hidden">

            <!-- Header -->
            <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
                <div class="flex-1 min-w-0">
                    <!-- Title -->
                    <div class="mt-2">
                        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                            Logbook
                        </h2>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <button
                        mat-icon-button
                        (click)="matDrawer.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                    </button>
                </div>
            </div>

            <!-- Main -->
            <div
                class="flex-auto p-6 sm:p-10 overflow-y-auto"
                cdkScrollable>

                <ngx-datatable
                    #logbookTable
                    class="material fullscreen"
                    [rows]="logbookEntries"
                    [columnMode]="ColumnMode.force"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    rowHeight="auto"
                    [limit]="10">

                    <!-- Column Templates -->
                    <ngx-datatable-column
                        [width]="50"
                        [resizeable]="false"
                        [sortable]="false"
                        [draggable]="false"
                        [canAutoResize]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        <a
                            href="javascript:void(0)"
                            [class.datatable-icon-right]="!expanded"
                            [class.datatable-icon-down]="expanded"
                            title="Expand/Collapse Row"
                            (click)="toggleExpandRow(row)">
                        </a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Date of Flight">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.flightDate }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Instrument Approaches">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.numInstrumentApproaches }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Landings">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.numLandings }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Night Landings">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.numNightLandings }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Full Stop Landings">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.numFullStopLandings }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Multiengine">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.multiEngine }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Simulated Instrument">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.simulatedInstrument }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Actual Instrument">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.IMC }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Dual Received">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.dualReceived }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Dual Given">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.dualGiven }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Pilot in Command">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.PIC }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Second in Command">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.SIC }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Ground Simulator">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.groundSim }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Total Time">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.totalFlightTime }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Route">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.route }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Comments">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.comments }}
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Row Detail Template -->
                    <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow>
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                        <div style="padding-left:35px;">
                            {{ row.aircraft.tailNumber }}, {{ row.aircraft.model.manufacturer.manufacturerName }} {{ row.aircraft.model.modelName }}
                        </div>
                        </ng-template>
                    </ngx-datatable-row-detail>

                </ngx-datatable>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
