<div class="py-10">

    <div class="mx-6 text-3xl font-bold tracking-tighter">Filter By</div>

    <div class="flex-auto p-6 sm:p-5">
        <form
            [formGroup]="filter"
            (ngSubmit)="onFilter()"
            class="flex flex-col mt-4 px-8 pt-4 overflow-hidden">
            <div class="flex flex-col gt-sm:flex-row">
                <mat-form-field class="flex-auto">
                    <mat-label>From</mat-label>
                    <input
                        matInput
                        [matDatepicker]="fromFilterPicker"
                        [placeholder]="'Choose a date'"
                        [formControlName]="'fromDate'">
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="fromFilterPicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromFilterPicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="flex-auto">
                    <mat-label>To</mat-label>
                    <input
                        matInput
                        [matDatepicker]="toFilterPicker"
                        [placeholder]="'Choose a date'"
                        [formControlName]="'toDate'">
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="toFilterPicker"></mat-datepicker-toggle>
                    <mat-datepicker #toFilterPicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="flex-auto">
                    <mat-label>Aircraft</mat-label>
                    <mat-select
                        #manufacturerSelect
                        [formControlName]="'idAircraft'">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let air of aircraft" [value]="air.id">
                            {{air.tailNumber}} - {{air.model?.manufacturer?.manufacturerName}} {{air.model?.modelName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex items-center -mx-8 px-8 py-4">
                <button
                    class="px-6 ml-3"
                    mat-flat-button
                    [color]="'primary'">
                    Apply
                </button>
            </div>
        </form>
    </div>

    <div class="mx-6 text-3xl font-bold tracking-tighter">Options</div>

    <div class="flex-auto p-6 sm:p-5">
        <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="flex flex-col mt-4 px-8 pt-4 overflow-hidden">
            <div class="flex flex-col gt-sm:flex-row">
                <span class="font-semibold mb-2">Show/Hide Columns</span>
                <div class="flex flex-col">
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showTailNumber'"
                        [color]="'primary'">
                        Tail Number
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showTypeName'"
                        [color]="'primary'">
                        Type
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showApproaches'"
                        [color]="'primary'">
                        Approaches
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showLandings'"
                        [color]="'primary'">
                        Landings
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showNightLandings'"
                        [color]="'primary'">
                        Night Landings
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showFullStopLandings'"
                        [color]="'primary'">
                        Full Stop Landings
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showNight'"
                        [color]="'primary'">
                        Night
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showCrossCountry'"
                        [color]="'primary'">
                        Cross Country
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showPIC'"
                        [color]="'primary'">
                        PIC
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showSIC'"
                        [color]="'primary'">
                        SIC
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showMultiEngine'"
                        [color]="'primary'">
                        Multi
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showTurbine'"
                        [color]="'primary'">
                        Turbine
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showSimulatedInstrument'"
                        [color]="'primary'">
                        Simulated IMC
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showIMC'"
                        [color]="'primary'">
                        Actual IMC
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showDualReceived'"
                        [color]="'primary'">
                        Dual Received
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showDualGiven'"
                        [color]="'primary'">
                        Dual Given
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showGroundSim'"
                        [color]="'primary'">
                        Ground Sim
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showTotalTime'"
                        [color]="'primary'">
                        Total Time
                    </mat-checkbox>
                    <mat-checkbox
                        class="mb-2"
                        [formControlName]="'showComments'"
                        [color]="'primary'">
                        Comments
                    </mat-checkbox>
                </div>
            </div>

            <div class="flex items-center -mx-8 px-8 py-4">
                <button
                    class="px-6 ml-3"
                    mat-flat-button
                    [color]="'primary'">
                    Save
                </button>
            </div>
        </form>
    </div>

    <fuse-vertical-navigation
        [appearance]="'default'"
        [navigation]="menuData"
        [inner]="true"
        [mode]="'side'"
        [name]="'logbook-sidebar-navigation'"
        [opened]="true"></fuse-vertical-navigation>
</div>
