<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- Card #3 - Flippable card -->
        <fuse-card *ngFor="let air of aircraft"
            class="flex flex-col max-w-80 w-full filter-article filter-interactive"
            [flippable]="true"
            [face]="'front'"
            #flippableCard01="fuseCard">
            <ng-container fuseCardFront>
                <img
                    class="object-cover"
                    src="assets/images/cards/03-320x200.jpg"
                    alt="Card cover image">
                <div class="m-8 mb-4">
                    <div class="text-2xl font-semibold leading-tight">Tail Number: {{air.tailNumber}}</div>
                    <div class="mt-4">From rocky mountains to crystal clear lakes, there are the places you must see and enjoy.</div>
                    <div class="mt-3 -mx-3">
                        <button
                            class="px-3"
                            mat-button
                            [color]="'primary'"
                            (click)="flippableCard01.face = flippableCard01.face === 'front' ? 'back' : 'front'">
                            More Details
                        </button>
                    </div>
                </div>
            </ng-container>
            <ng-container fuseCardBack>
                <div class="flex flex-col flex-auto m-4">
                    <button
                        class="ml-1.5"
                        mat-icon-button
                        (click)="flippableCard01.face = flippableCard01.face === 'front' ? 'back' : 'front'">
                        <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                    </button>
                    <div class="m-4 mt-3">
                        <div class="text-2xl font-semibold leading-tight">
                            Most beautiful and quite places to see
                        </div>
                        <div class="mt-4">
                            From rocky mountains to crystal clear lakes, these are the places you must see and enjoy.
                            You can bring your own food and have a little picnic on top of the amazing grasslands.
                        </div>
                        <div class="mt-4">
                            From rocky mountains to crystal clear lakes, these are the places you must see and enjoy.
                            You can bring your own food and have a little picnic on top of the amazing grasslands.
                        </div>
                    </div>
                </div>
            </ng-container>
        </fuse-card>

    </div>

</div>
